<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary (click)="getAuth()">Auth</button>
  <button ion-button secondary (click)="install()">install</button>

  <p>{{mySteps | json}}</p>
  <p>{{event.startDate | date:'dd-MM-y'}}</p>
<hr>
  <button ion-button secondary (click)="getSteps()">getSteps</button>
  <button ion-button (click)="setSteps(newSteps.value)">set steps</button> -->

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label stacked>Activity</ion-label>
          <ion-select [(ngModel)]="event.value" interface="popover">
            <ion-option *ngFor="let activity of activities" [value]="activity.toLowerCase()">{{activity}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>start Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" [(ngModel)]="event.startDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>start time</ion-label>
          <ion-datetime displayFormat="hh:mm A" pickerFormat="h:mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>hr.</ion-label>
          <ion-input type="number" [(ngModel)]="event.hours"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked>min.</ion-label>
          <ion-input type="number" [(ngModel)]="event.minutes"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked>sec.</ion-label>
          <ion-input type="number" [(ngModel)]="event.seconds"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>steps</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked>calories</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <button ion-button secondary (click)="setActivity()">getCalories</button> -->
  <!-- <button ion-button secondary (click)="setCalories()">setCalories</button>
  <p>{{myCalories | json}}</p>
  <hr>-->
  <button ion-button secondary (click)="getActivity()">getActivity</button>
  <button ion-button secondary (click)="setActivity()">setActivity</button>
  <!-- <button ion-button secondary (click)="pedo()">getPedo</button> -->
  <div *ngFor='let day of (myActivity | keyValues); let i = index;'>
    <p>day: {{day.value.startDate.getDate()}} - {{day.value.endDate.getDate()}} | calories: {{myCalories[i]?.value}} kcal</p>
      <div *ngFor='let activity of (day.value.value | keyValues); let j = index;'>
       {{activity.name}}: {{msToTime(activity.value.duration)}}
      </div>
      <hr>
    </div>
  raw activities
  <p>{{myActivity | json}}</p>
  <hr>
  raw calories
  <p>{{isArray(myCalories)}}</p>
  <p>{{myCalories | json}}</p>
  <hr>
  raw active calories
  <p>{{myCaloriesActive | json}}</p>
  <hr>
  raw basal calories
  <p>{{myCaloriesBasal | json}}</p>
  <!-- <hr>jfgajgvrgvgliyr
    hrbhkvbiurn ilyrr 
  
  <button ion-button secondary (click)="getDistance()">getDistance</button>
  <p *ngFor="let distance of myDistance">{{distance | json}}</p> -->

  <br><br>


  <div swipe-vertical class="draggable" #draggable>
    <h1>Swipe Up and Down</h1>
    <div *ngIf="myCalories && myCalories.length > 0">
      <ngx-charts-pie-grid
        [view]="view"
        [scheme]="colorScheme"
        [results]="myCalories"
        [designatedTotal]="2000"
        (select)="onSelect($event)">
      </ngx-charts-pie-grid>
    </div>
    <p>-- drag down --</p>
  </div>
</ion-content>
