page-home {
  .draggable {
    height: 500px;
    position: fixed;
    width: 100%;
    top: -400px;
    left: 0;
    z-index: 999;
    background-color: #488aff;
    color: #fff;
    margin: 0 auto;
    padding-top: 80px;
    transition: 0.6s ease-in-out;

    p {
      text-align: center;
      position: absolute;
      bottom: 5px;
      margin: 0 auto;
      width: 100%;
    }
  }

  /deep/ngx-charts-pie-grid {
    /deep/.label {
      color: #FFFFFF !important;
    }
  }
}
