<!--
  Generated template for the ChartsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>charts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>

            <ngx-charts-pie-grid
              [view]="view"
              [scheme]="colorScheme"
              [results]="single"
              [designatedTotal]="1000"
              (select)="onSelect($event)">
            </ngx-charts-pie-grid>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
          <ion-item>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label stacked>Activity</ion-label>
          <ion-select [(ngModel)]="currentActivity" interface="popover" [selectedText]="walking">
            <ion-option *ngFor="let activity of activitNames" [value]="activity.toLowerCase()">{{activity}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>{{steps}} Steps</h1>
        <h3>{{seconds}} sec</h3>
      </ion-col>
    </ion-row>
  <ion-item>
    <button ion-button (click)="liveDataInit(); startTimer()" >start</button>
    <button ion-button (click)="stopData()" >stop</button>
    <!--<button ion-button (click)="isPedoAvailable()" >is Pedometer Available</button>-->
  </ion-item>
  <!--<p>Steps available: {{pedoStepsAvailable}}</p>-->
  <!--<p>Distance available: {{pedoDistanceAvailable}}</p>-->
  <!--<p>data: {{liveData | json}}</p>-->
  <hr>
  <div *ngFor="let act of activities">
    <p>
      Activity: {{act.activity}}<br>
      Time: {{act.time}}<br>
      Steps: {{act.steps}}<br>
    </p>
  </div>

  </ion-grid>
  </ion-content>
